@using RESTORANS.Models;
@using RESTORANS.Utilities;
@model IList<Post>

<!-- Menu Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h5 class="section-title ff-secondary text-center text-primary fw-normal">Thực Đơn</h5>
            <h1 class="mb-5">Các món ăn phổ biến</h1>
        </div>
        <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.1s">
            <ul class="nav nav-pills d-inline-flex justify-content-center border-bottom mb-5">
                <li cla class="nav-item">
                    <a class="d-flex align-items-center text-start mx-3 ms-0 pb-3 active" data-bs-toggle="pill" href="#tab-1">
                        <i class="fa fa-coffee fa-2x text-primary"></i>
                        <div class="ps-3">
                            <small class="text-body">Nổi tiếng</small>
                            <h6 class="mt-n1 mb-0">Bữa ăn sáng</h6>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="d-flex align-items-center text-start mx-3 pb-3" data-bs-toggle="pill" href="#tab-2">
                        <i class="fa fa-hamburger fa-2x text-primary"></i>
                        <div class="ps-3">
                            <small class="text-body">Đặc biiệt</small>
                            <h6 class="mt-n1 mb-0">Món ăn đặc biệt</h6>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="d-flex align-items-center text-start mx-3 me-0 pb-3" data-bs-toggle="pill" href="#tab-3">
                        <i class="fa fa-utensils fa-2x text-primary"></i>
                        <div class="ps-3">
                            <small class="text-body">Nhẹ nhàng</small>
                            <h6 class="mt-n1 mb-0">Bữa tối</h6>
                        </div>
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="tab-1" class="tab-pane fade show p-0 active">
                    <div class="row g-4">
                        @foreach (var item in Model.Where(m => m.MenuTag == 1))
                        {
                            string url = function.TitlesSlugGeneration("post", item.Title, item.PostID);
                            <div class="col-lg-3">
                                <div class="card">
                                    <img class="card-img-top" src="@item.Images" alt="Product Image" style="height: 200px; object-fit: cover;">
                                    <div class="card-body">
                                        <h5 class="card-title"><a href="/@url">@item.Title</a></h5>
                                        <p class="card-text">@item.Abstract</p>
                                        <p class="card-text"><span class="text-primary">@item.Price</span></p>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>

                <!-- Thêm các tab khác tương tự -->
                <div id="tab-2" class="tab-pane fade show p-0">
                    <div class="row g-4">
                        @foreach (var item in Model.Where(m => m.MenuTag == 2))
                        {
                            string url = function.TitlesSlugGeneration("post", item.Title, item.PostID);
                            <div class="col-lg-3">
                                <div class="card">
                                    <img class="card-img-top" src="@item.Images" alt="Product Image" style="height: 200px; object-fit: cover;">
                                    <div class="card-body">
                                        <h5 class="card-title"><a href="/@url">@item.Title</a></h5>
                                        <p class="card-text">@item.Abstract</p>
                                        <p class="card-text"><span class="text-primary">@item.Price</span></p>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>

                <div id="tab-3" class="tab-pane fade show p-0">
                    <div class="row g-4">
                        @foreach (var item in Model.Where(m => m.MenuTag == 3))
                        {
                            string url = function.TitlesSlugGeneration("post", item.Title, item.PostID);
                            <div class="col-lg-3">
                                <div class="card">
                                    <img class="card-img-top" src="@item.Images" alt="Product Image" style="height: 200px; object-fit: cover;">
                                    <div class="card-body">
                                        <h5 class="card-title"><a href="/@url">@item.Title</a></h5>
                                        <p class="card-text">@item.Abstract</p>
                                        <p class="card-text"><span class="text-primary">@item.Price</span></p>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>