@model RESTORANS.Models.Post
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<main id="main" class="main">
    <div class="pagetitle">
        <h2>Xem thành viên đầu bếp</h2>
    </div>
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-8">
                    <!-- Blog Detail Start -->
                    <div class="mb-5">
                        <span>Tên đầu bếp : <p class="mb-4">@Html.DisplayFor(model => model.FullName)</p></span>

                        <span>Hình đại điện : <img src="@Html.DisplayFor(m=>m.Images)"/></span>

                        <span>thông tin đầu bếp : <p>@Html.Raw(Model.Abstract) </p></span>

                        <span>thông tin đầu bếp : <p>@Html.Raw(Model.Contents) </p></span>
                        
                        <label>Ẩn hiện:  <p>@Html.Raw(Model.IsActive) </p></label>

                    </div>
                    <a asp-controller="Member" asp-action="Index" class="btn btn-lg btn-warning p-2">Quay lại</a>
                </div>
            </div>
        </div>
    </div>
</main>
